.heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.word{
    font-size: 50px;
}

.phonetic{
    font-size: 20px;
    color: #a622fd;
}