.Navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}

.w{
    display: flex;
    justify-content: space-between;
    align-items: center;
}